*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

.navbar {display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 80px;
    gap: 18px;
    
} 
.navbar p {color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
height: 26px;
flex-shrink: 0;
}
.navbar button {width: 8.1%;
    height: 40px;
    background: #E6A859;
    width: 97px;
height: 26px;
flex-shrink: 0;
color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 8%;
border: none;
}